In [132]:
import pandas as pd
from sklearn.cluster import KMeans
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [133]:
df = pd.read_csv('./wine.csv')
display(df.head())
np_array = df.to_numpy()
# print(np_array)

   id  alcohol  fixed_acidity  residual_sugar quality  density
0   0     13.6            9.3             6.4    high   1.0005
1   1     14.0           11.2             2.0  medium   0.9912
2   2      8.2           11.6             0.9     low   0.9935
3   3     12.7           12.9             6.6     low   1.0002
4   4     10.4           13.9            13.8  medium   0.9942

In [134]:
#Análise exploratória
# print(df.head())
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              1000 non-null   int64
 1   alcohol         990 non-null    float64
 2   fixed_acidity   1000 non-null   float64
 3   residual_sugar  997 non-null    float64
 4   quality         1000 non-null   object
 5   density         1000 non-null   float64
dtypes: float64(4), int64(1), object(1)
memory usage: 47.0+ KB
None

In [135]:
display(df.describe())

                id     alcohol  fixed_acidity  residual_sugar      density
count  1000.000000  990.000000    1000.000000      997.000000  1000.000000
mean    499.500000   11.038081      10.174300        7.685757     0.997505
std     288.819436    1.763647       3.452693        4.213067     0.004300
min       0.000000    8.000000       4.000000        0.500000     0.990000
25%     249.750000    9.500000       7.100000        4.100000     0.993900
50%     499.500000   11.000000      10.400000        7.500000     0.997400
75%     749.250000   12.600000      13.125000       11.500000     1.001200
max     999.000000   14.000000      16.000000       15.000000     1.005000

In [136]:
print(df.columns)

Index(['id', 'alcohol', 'fixed_acidity', 'residual_sugar', 'quality',
       'density'],
      dtype='object')

In [137]:
# display(df.head())
df_alcohol_missing = df[df['alcohol'].isnull()]
df_alcohol_clean = df[df['alcohol'].notnull()]
display(df_alcohol_clean.describe())

               id     alcohol  fixed_acidity  residual_sugar     density
count  990.000000  990.000000     990.000000      987.000000  990.000000
mean   502.790909   11.038081      10.171616        7.674468    0.997522
std    288.019575    1.763647       3.458650        4.222822    0.004297
min      0.000000    8.000000       4.000000        0.500000    0.990000
25%    255.250000    9.500000       7.100000        4.100000    0.993925
50%    504.500000   11.000000      10.400000        7.500000    0.997400
75%    751.750000   12.600000      13.200000       11.500000    1.001200
max    999.000000   14.000000      16.000000       15.000000    1.005000

In [138]:
features = ['fixed_acidity', 'residual_sugar', 'density']  # Add more if needed
X = df_alcohol_clean[features]
y = df_alcohol_clean['alcohol']

In [139]:
model = RandomForestRegressor()
model.fit(X, y)

# 4. Predict and fill missing
predicted_alcohol = model.predict(df_alcohol_missing[features])
df.loc[df['alcohol'].isnull(), 'alcohol'] = predicted_alcohol
df.describe()

                id      alcohol  fixed_acidity  residual_sugar      density
count  1000.000000  1000.000000    1000.000000      997.000000  1000.000000
mean    499.500000    11.036811      10.174300        7.685757     0.997505
std     288.819436     1.756029       3.452693        4.213067     0.004300
min       0.000000     8.000000       4.000000        0.500000     0.990000
25%     249.750000     9.500000       7.100000        4.100000     0.993900
50%     499.500000    11.000000      10.400000        7.500000     0.997400
75%     749.250000    12.600000      13.125000       11.500000     1.001200
max     999.000000    14.000000      16.000000       15.000000     1.005000

In [140]:
df_sugar_missing = df[df['residual_sugar'].isnull()]
df_sugar_clean = df[df['residual_sugar'].notnull()]
display(df_sugar_clean.describe())

               id     alcohol  fixed_acidity  residual_sugar     density
count  997.000000  997.000000     997.000000      997.000000  997.000000
mean   499.683049   11.040232      10.170913        7.685757    0.997515
std    289.234625    1.756721       3.449439        4.213067    0.004300
min      0.000000    8.000000       4.000000        0.500000    0.990000
25%    249.000000    9.500000       7.100000        4.100000    0.993900
50%    501.000000   11.000000      10.400000        7.500000    0.997400
75%    750.000000   12.600000      13.100000       11.500000    1.001200
max    999.000000   14.000000      16.000000       15.000000    1.005000

In [141]:
sugar_model = RandomForestRegressor()
sugar_model.fit(X, y)

# 4. Predict and fill missing
predicted_sugar = sugar_model.predict(df_sugar_missing[features])
df.loc[df['residual_sugar'].isnull(), 'residual_sugar'] = predicted_sugar
df.describe()

                id      alcohol  fixed_acidity  residual_sugar      density
count  1000.000000  1000.000000    1000.000000     1000.000000  1000.000000
mean    499.500000    11.036811      10.174300        7.693628     0.997505
std     288.819436     1.756029       3.452693        4.209379     0.004300
min       0.000000     8.000000       4.000000        0.500000     0.990000
25%     249.750000     9.500000       7.100000        4.100000     0.993900
50%     499.500000    11.000000      10.400000        7.550000     0.997400
75%     749.250000    12.600000      13.125000       11.500000     1.001200
max     999.000000    14.000000      16.000000       15.000000     1.005000

In [142]:
features = ['alcohol', 'fixed_acidity', 'residual_sugar', 'density']
X = df[features]

In [143]:
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

In [144]:
kmeans = KMeans(n_clusters=4, random_state=42)
df['cluster'] = kmeans.fit_predict(X_scaled)

In [145]:
pd.crosstab(df['cluster'], df['quality'])

quality  high  low  medium
cluster
0          78   76      81
1          83   79      93
2          83   69      85
3          99   78      96

In [117]:
df.corr(numeric_only=True)['quality'].sort_values(ascending=False)

KeyError: 'quality'